/* Global Styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f7fc;
  /* padding: 20px; */
}

h2 {
  text-align: center;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="phone"],
input[type="number"],
input[type="date"],
input[type="checkbox"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

label {
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

.Box {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Box input {
  font-size: 14px;
}

.CB {
  margin: 10px 0;
}

.CB label {
  margin-right: 10px;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

.btn {
  /* text-align: center; */
  /* margin-top: 20px;  */
  display: flex;
  /* font-size: x-large; */
  flex-direction: row;
  margin: 2px 5px;
  justify-content: center; 
  /* border:  solid; */
  /* width: 50%; */
  /* gap: 10px; Space between the buttons */

}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #555;
}

input[type="number"] {
  width: 50px;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-top: 10px;
}

iframe {
  border: 1px solid #ddd;
  border-radius: 4px;
}

#labelHeading {
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}

form{
  margin: 25px 0;
}

.formBtn{
  display: flex;
  flex-direction: row;
  width: 20vw;
  /* height:; */
  /* border: solid black 2px; */
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}